.navbar-nav .nav-item .nav-link {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  color: #965947;
}

.navbar-nav .nav-item .nav-link:hover {
  text-decoration: underline; /* Adiciona um sublinhado ao passar o mouse */
}

@media (max-width: 768px) {
  .navbar-collapse {
    text-align: right; /* Alinha o menu à direita em dispositivos móveis */
  }
}
