.countdown-div {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 20px; /* Adicionando padding para espaço interno */
}

.countdown-container {
    display: flex;
    width: 100%;
}

.countdown-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-ul-desktop {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.countdown-ul-desktop li {
    padding: 10px;
    margin: 2px 0; /* Adiciona uma pequena margem entre os itens */
    color: #fff; /* Cor do texto ajustada para contraste */
    font-weight: bold;
    font-size: 16px; /* Tamanho da fonte maior para destacar os números */
    width: 100%; /* Garante que cada LI ocupe toda a largura do contêiner */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .countdown-ul-desktop li {
        font-size: 16px; /* Ajuste da fonte para melhor visualização em telas menores */
    }
}
