<div class="countdown-div">
    <div class="countdown-container">
        <div class="countdown-column">
            <ul class="countdown-ul-desktop">
                <li>Dias</li>
                <li #days>{{days}}</li>
            </ul>
        </div>
        <div class="countdown-column">
            <ul class="countdown-ul-desktop">
                <li>Horas</li>
                <li #hours>{{hours}}</li>
            </ul>
        </div>
        <div class="countdown-column">
            <ul class="countdown-ul-desktop">
                <li>Minutos</li>
                <li #minutes>{{minutes}}</li>
            </ul>
        </div>
        <div class="countdown-column">
            <ul class="countdown-ul-desktop">
                <li>Segundos</li>
                <li #seconds>{{seconds}}</li>
            </ul>
        </div>
    </div>
</div>
