.donation {
    border-bottom: 1px solid #965947; /* Estilo da borda inferior como um traço */
    border-top: 1px solid #965947; /* Estilo da borda superior como um traço */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 900px;
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    width: 100%; /* Garante que o componente não exceda a largura da tela */
    box-sizing: border-box; /* Garante que a largura total inclua qualquer borda ou padding */
    margin: auto; /* Centraliza o componente na direção horizontal */

    
}

.donation-h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #965947;
    margin: 20px;
}

.donation-itens {
    display: flex; /* Continua com os itens lado a lado */
    flex-wrap: nowrap; /* Impede que os itens passem para a próxima linha */
    overflow-x: auto; /* Habilita a rolagem horizontal quando necessário */
    -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos touch */
    gap: 20px; /* Espaço entre os itens */
    padding: 20px; /* Espaço em torno dos itens dentro do contêiner */
    justify-content: flex-start; /* Alinha os itens ao início do contêiner */
    margin: 10px auto; /* Centraliza o contêiner na página, com margem superior e inferior */
    /* A margem lateral é ajustada para 'auto' para centralização */
    list-style: none; /* Remove os marcadores padrão da lista */
}

.donation-item:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do item ao passar o mouse */
    background-color: #f5f5f5; /* Opcional: muda a cor de fundo ao passar o mouse */
}
.donation-button {
   
    transition: background-color 0.3s; /* Animação suave ao mudar o estado */
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #965947;
    background: none;
    width: 218px;
    padding: 12px 0;
    color: #965947;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}


.donation-button:hover {
    background-color: #f5f5f5; /* Uma cor ligeiramente mais clara ou mais escura para o hover */
}

.donation-p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #965947;
    margin: 20px;
}
