<div class="donation-item">
    <div class="donation-img">
        <img src="https://gift-media.lejour.com.br/kit-de-roupas-de-cama-para-dormir-na-sala-quando-brigarem.png" 
            alt="Kit de roupas de cama para dormir na sala quando brigarem ">
    </div>
    <div   class="donation-description">
        <div   class="donation-description-group">
            <p   class="donation-description-p"> {{item.description}}  </p>
            <p   class="donation-description-p"> R$ &nbsp;{{item.value}} </p>
        </div>
        <button   class="donation-description-button"> Presentear </button>
    </div>
</div>