<div class="div-introduction">
    <h1 class="introduction-h1">WEDDING MESSAGE</h1>
    <p class="introduction-p">
        O grande dia está chegando e não poderíamos estar mais animados para compartilhar com a nossa família e amigos um dos dias mais especiais das nossas vidas! Queremos muito sua presença neste dia tão importante com muita festa, amor e carinho em uma comemoração que irá nos marcar para sempre! 
    </p>
    <img src="../../../../../assets/img/introduction-img.png" alt="" class="introduction-img">
</div>