.div-body .app-banner .app-introduction .app-donation {
    opacity: 0; /* Inicialmente invisíveis */
    transform: translateY(20px); /* Começam um pouco abaixo de sua posição final */
    transition: all 0.5s ease-out; /* Suaviza a transição de estado */
}